@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F4F9; /* Açık gri arka plan */
  --foreground: #333333; /* Koyu gri metin */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-quicksand), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
